<div class="content_main">
    <div class="container edit_container">
        <div class="edit_container_main_img">
            <img src="img/Background Image.png" alt="">
            <!-- <div class="edit_container_emp_img">
                <img src="/img/Elipse 5.png" alt="">
            </div> -->
        </div>
        <div class="details" id="employee-details">
                <div class=" name_email">
                    <h3><Mr. Michael Johnson></h3>
                    <h4><%= user.firstname %></h4>
                </div>
            <div class="details_col_3">    
                <div class="details_view">
                    <h3>Gender</h3>
                    <h4><%= user.gender %></h4>
                </div>
                <div class="details_view">
                    <h3>age</h3>
                    <h4>38</h4>
                </div>
                <div class="details_view">
                    <h3>Date of Birth</h3>
                    <h4><%= user.dob %></h4>
                </div>
            </div>
            <div class="details_col_2">
                <div class="details_view">
                    <h3>Mobile Number</h3>
                    <h4><%= user.number %></h4>
                </div>
                <div class="details_view">
                    <h3>Qualifications</h3>
                    <h4><%= user.qualification%></h4>
                </div>
            </div>
            <div class="details_col_2">
                <div class="details_view">
                    <h3>Address</h3>
                    <h4><%= user.address %></h4>
                </div>
                <div class="details_view">
                    <h3>Username</h3>
                    <h4><%= user.firstname %></h4>
                </div>
            </div>
            <div class="details_actions">
                <button>Edit Details</button>
            </div>
        </div>
    </div>             
</div>